h1 {
    font-family: 'Mansalva';
    color: #0071cf;
}

h3 {
    font-family: 'Mansalva';
}

p {
    font-family: 'Montserrat', sans-serif;
}

#slides {
    color: black;
}

#connect {
    color: black;
}

p {
    font-family: 'Mansalva';
    font-size: 130%;
}

#copyright {
    font-family: 'Mansalva';
}

#carousel-1, #carousel-2 {
    display: block;
    padding: 50px;
}

#studio {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

#flextopia {
    display: block;
    margin-left: auto;
    margin-right: auto;
}